{% extends "layout.html" %}

{% block title %}
    Info
{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">Project Information</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Project Title:</strong> CS50: Tasks
                </li>
                <li class="list-group-item">
                    <strong>Name:</strong> Assem Mohamed
                </li>
                <li class="list-group-item">
                    <strong>Github:</strong> <a href="https://github.com/ToYoNiX" target="_blank">ToYoNiX</a>
                </li>
                <li class="list-group-item">
                    <strong>edX:</strong> Assem_Mohamed_ToYoNiX
                </li>
                <li class="list-group-item">
                    <strong>Location:</strong> Giza, Egypt
                </li>
                <li class="list-group-item">
                    <strong>Date:</strong> September 17, 2024
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
